<div class="main-container">
  <div class="sub-container">
    <div class="content-container">
      <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
      </div>
      <div class="main1-content">
        <span class="content2"> 29🌟 </span>
        <span class="content1"> June 2024. </span>
      </div>
      <div class="main-content">
        <span class="content4"> Happy Birthday </span>
        <span class="content3"> Minifred🎉! </span>
      </div>
      <div class="img1-container"></div>
      <div class="sub-content">
        <span class="contentsec1">
          Wishing you a day filled with <span class="contentsec2">laughter, love, and unforgettable
            moments.</span>
        </span>
      </div>
      
    </div>
    <div class="img-container"></div>
  </div>
</div>
<app-home></app-home>
