<div class="main-container">
    <div class="sub-container">
      <div class="content-container">
        <div class="main-content">
          <span class="content3">
            Happy Birthday, <span class="content4">Mashiya! 🎉</span>.
          </span>
        </div>
        <div class="img1-container"></div>
        <div class="sub-content">
          <span class="contentsec1">
            Since we met, every moment with you has been special. Whether we're
            chatting, playing badminton, cooking together, walking around Akshya
            Apartment,
            <span class="contentsec2"
              >each memory is filled with laughter and happiness</span
            >. Your dedication to daily gym visits shows your positivity and
            determination.
          </span>
          <span class="contentsec1"
            >On your special day, I wish you all the happiness in the world.<span class="contentsec2"
            > May
            your dreams come true, and may this year bring you lots of laughter,
            love, and amazing adventures</span>.</span
          >
          <span class="contentsec1"
            >Your ability to handle problems with the same calm expression teaches
            me a lot. Your <span class="contentsec2"
            > smile always brightens my day, and your positive
            mindset, noticing and appreciating even the smallest things, is truly
            admirable</span>.</span
          >
          <span class="contentsec1">
            You deserve the best! Happy Birthday,
            <span class="contentsec2">Minifred! 🌟</span>
          </span>
        </div>
      </div>
      <div class="img-container"></div>
    </div>
  </div>